<?xml version="1.0" encoding="UTF-8"?>
<configuration debug='true'>
    <!--<property name="LOG_DIR" value="/storage/sdcard/0" />-->
    <!-- Rolling File Appender -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/oneone-%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- logcat Appender -->
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    <!-- Async Appender -->
    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="file" />
        <appender-ref ref="logcat" />
    </appender>

    <root level="TRACE">
        <appender-ref ref="async" />
    </root>
</configuration>