*.iml
.gradle
gradle.properties
/.idea
/.idea/modules.xml
/release
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches/
/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
src/main/java/com/.DS_Store
src/main/java/.DS_Store
src/main/.DS_Store
src/.DS_Store
